@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HR Application</h1>
    <img src="~/images/hr.png" />
    <h3><a asp-action="AllEmployees" class="btn btn-primary">View Employees</a></h3>
</div>
